*{
    padding: 0;
    margin: 0;
}

nav{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    width: 100px;
    cursor: pointer;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#group-menu{
    display: flex;
}

#group-menu>li{
    border: 1px solid blue;
}
#logo{
    border: 1px solid red;
    height: 50px;
}
#my-menu{
    display: flex;
}
#my-menu>li{
    border: 1px solid green;
}
.sub-menu>li{
    border: 1px solid black;
}
.sub-menu{
    display: none;
}

#group-menu>li:hover>.sub-menu{
    display: block;
}

header{
    position: sticky;
    top: 0px;
}